# Ignoruj wszystko
*

# Folder potrzebny do dotarcia do coverage/index.html
!*/

# Nie ignoruj plików Python (plik testów i kalkulatora)
!*.py

# Nie ignoruj README (różne warianty)
!README
!README.md
!README.txt

# Nie ignoruj index.html z raportem coverage
!htmlcov/index.html
